@using Vjezba.Web.Mock
@model List<Vjezba.Web.Mock.Client>

@{
	ViewData["Title"] = "Client Page";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">Popis klijenata</li>
	</ol>
</nav>

<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active" id="zad5-5-tab" data-toggle="tab" href="#zad5-5" role="tab" aria-controls="zad5-5" aria-selected="true">Zadatak 5.5</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="zad5-6-tab" data-toggle="tab" href="#zad5-6" role="tab" aria-controls="zad5-6" aria-selected="false">Zadatak 5.6</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="zad5-7-tab" data-toggle="tab" href="#zad5-7" role="tab" aria-controls="zad5-7" aria-selected="false">Zadatak 5.7</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="zad5-5" role="tabpanel" aria-labelledby="zad5-5-tab">
		<h3>Zadatak 5.5 - GET forma s jednim parametrom</h3>
		<form class="form-inline">
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="query" placeholder="Pretraga po imenu"/>
			</div>
			<button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>

	<div class="tab-pane fade" id="zad5-6" role="tabpanel" aria-labelledby="zad5-6-tab">
		<h3>Zadatak 5.6 - POST forma s dva parametrom</h3>
		<form class="form-inline" method="post">
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="queryName" placeholder="Pretraga po imenu" />
			</div>
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="queryAddress" placeholder="Pretraga po adresi" />
			</div>
			<button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>

	<div class="tab-pane fade" id="zad5-7" role="tabpanel" aria-labelledby="zad5-7-tab">
		<h3>Zadatak 5.7 - POST forma, binding na model</h3>
		<form class="form-inline" method="post" action="/Client/AdvancedSearch">
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="FullName" placeholder="Pretraga po imenu" />
			</div>
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="Email" placeholder="Pretraga po emailu" />
			</div>
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="Address" placeholder="Pretraga po adresi" />
			</div>
			<div class="form-group">
				<input class="form-control mb-2 mr-sm-2" type="text" name="CityName" placeholder="Pretraga po gradu" />
			</div>
			<button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Client</th>
			<th scope="col">Address</th>
			<th scope="col">Email</th>
			<th scope="col">City</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Client client in Model)
		{
			<tr>
				<td><a asp-controller="Client" asp-action="Details" asp-route-id="@client.ID">@client.FullName</a></td>
				<td>@client.Address</td>
				<td>@client.Email</td>
				<td>@client.City?.Name</td>
			</tr>
		}
	</tbody>
</table>